In [ ]:
import numpy as np
import pandas as pd
import pickle
import time
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier


import warnings
warnings.filterwarnings('ignore')

%config InlineBackend.figure_formats = ['svg']

In [8]:
airline_df = pd.read_csv('airline.csv')
airline_df.head()

,satisfaction,customer_type,age,type_of_travel,class,flight_distance,seat_comfort,departure_arrival_time_convenient,food_and_drink,gate_location,...,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes
0,dissatisfied,Loyal Customer,48,Personal Travel,Eco,4001,1,1,1,1,...,1,1,4,1,1,4,2,1,16,0
1,dissatisfied,Loyal Customer,48,Personal Travel,Eco,3980,1,1,1,1,...,4,4,2,3,2,3,2,4,0,0
2,dissatisfied,Loyal Customer,40,Personal Travel,Eco,2251,1,1,1,1,...,1,1,3,3,2,1,1,1,0,8
3,dissatisfied,Loyal Customer,46,Personal Travel,Eco,2453,1,1,1,1,...,5,3,1,4,1,2,2,3,3,15
4,dissatisfied,Loyal Customer,63,Personal Travel,Eco,2011,1,1,1,1,...,5,5,1,5,2,1,2,5,25,25

In [9]:
airline_df.dropna(inplace=True)
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119255 entries, 0 to 119254
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       119255 non-null  object
 1   customer_type                      119255 non-null  object
 2   age                                119255 non-null  int64
 3   type_of_travel                     119255 non-null  object
 4   class                              119255 non-null  object
 5   flight_distance                    119255 non-null  int64
 6   seat_comfort                       119255 non-null  int64
 7   departure_arrival_time_convenient  119255 non-null  int64
 8   food_and_drink                     119255 non-null  int64
 9   gate_location                      119255 non-null  int64
 10  inflight_wifi_service              119255 non-null  int64
 11  inflight_entertainment             119255 non-null  int64
 12  online_support                     119255 non-null  int64
 13  ease_of_online_booking             119255 non-null  int64
 14  on-board_service                   119255 non-null  int64
 15  leg_room_service                   119255 non-null  int64
 16  baggage_handling                   119255 non-null  int64
 17  checkin_service                    119255 non-null  int64
 18  cleanliness                        119255 non-null  int64
 19  online_boarding                    119255 non-null  int64
 20  departure_delay_in_minutes         119255 non-null  int64
 21  arrival_delay_in_minutes           119255 non-null  int64
dtypes: int64(18), object(4)
memory usage: 20.0+ MB

In [10]:
output = airline_df['satisfaction']
input = airline_df.drop(columns = ['satisfaction'])
input.head()

,customer_type,age,type_of_travel,class,flight_distance,seat_comfort,departure_arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,...,online_support,ease_of_online_booking,on-board_service,leg_room_service,baggage_handling,checkin_service,cleanliness,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes
0,Loyal Customer,48,Personal Travel,Eco,4001,1,1,1,1,1,...,1,1,4,1,1,4,2,1,16,0
1,Loyal Customer,48,Personal Travel,Eco,3980,1,1,1,1,4,...,4,4,2,3,2,3,2,4,0,0
2,Loyal Customer,40,Personal Travel,Eco,2251,1,1,1,1,1,...,1,1,3,3,2,1,1,1,0,8
3,Loyal Customer,46,Personal Travel,Eco,2453,1,1,1,1,3,...,5,3,1,4,1,2,2,3,3,15
4,Loyal Customer,63,Personal Travel,Eco,2011,1,1,1,1,5,...,5,5,1,5,2,1,2,5,25,25

In [12]:
dum_input = pd.get_dummies(input)
dum_input.head()

,age,flight_distance,seat_comfort,departure_arrival_time_convenient,food_and_drink,gate_location,inflight_wifi_service,inflight_entertainment,online_support,ease_of_online_booking,...,online_boarding,departure_delay_in_minutes,arrival_delay_in_minutes,customer_type_Loyal Customer,customer_type_disloyal Customer,type_of_travel_Business travel,type_of_travel_Personal Travel,class_Business,class_Eco,class_Eco Plus
0,48,4001,1,1,1,1,1,1,1,1,...,1,16,0,True,False,False,True,False,True,False
1,48,3980,1,1,1,1,4,1,4,4,...,4,0,0,True,False,False,True,False,True,False
2,40,2251,1,1,1,1,1,1,1,1,...,1,0,8,True,False,False,True,False,True,False
3,46,2453,1,1,1,1,3,1,5,3,...,3,3,15,True,False,False,True,False,True,False
4,63,2011,1,1,1,1,5,1,5,5,...,5,25,25,True,False,False,True,False,True,False

In [13]:
train_X, test_X, train_y, test_y = train_test_split(dum_input, output, test_size = 0.2, random_state = 1)

In [14]:
tree_class = DecisionTreeClassifier(random_state = 1)

In [15]:
start = time.time()
tree_class.fit(train_X, train_y)
stop = time.time()
print(f'Time Taken: {stop - start} seconds')

Time Taken: 0.6694850921630859 seconds

In [ ]:
y_pred_train = tree_class.predict(train_X)

In [16]:
y_pred = tree_class.predict(test_X)

In [29]:
probs = tree_class.predict_proba(test_X)
probs

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [30]:
dt_class = open('airline_dt.pickle', 'wb')
pickle.dump(tree_class, dt_class)
dt_class.close()